### Lets first import the pandas package, make sure you have installed python if you are working on a local machine, i'm using google colab, so i just imported it

In [1]:
import pandas as pd

#### Create a DataFrame from a list of lists. Name the columns "col1", "col2" and "col3".

In [5]:
lis = [[1, 2, 3], [4, 5, 6]]
df = pd.DataFrame(lis, columns = ['col1', 'col2', 'col3'])
df

   col1  col2  col3
0     1     2     3
1     4     5     6

#### Create a DataFrame from a list of lists. Name the columns "col1", "col2" and "col3". Change the data type of all columns to "int8". (make sure you create the dataframe which has numeric values)

In [6]:
print("Before changing the datatype", df.dtypes, "\n")

# changing the data type to int8
df = df.astype('int8')
print("After Changing the datatype", df.dtypes)

Before changing the datatype col1    int64
col2    int64
col3    int64
dtype: object

After Changing the datatype col1    int8
col2    int8
col3    int8
dtype: object

#### Create a DataFrame from a dictionary.

In [7]:
dic = {'col1': [1, 2], 'col2': [3, 4]}
dic_df = pd.DataFrame(dic)
dic_df

   col1  col2
0     1     3
1     2     4

#### Create a DataFrame from a dictionary. Change the data type of all columns to "int8". (make sure you create the dataframe which has numeric values)

In [8]:
print("Before changing the datatype", dic_df.dtypes, "\n")

# changing the data type to int8
dic_df = dic_df.astype('int8')
print("After Changing the datatype", dic_df.dtypes)

Before changing the datatype col1    int64
col2    int64
dtype: object

After Changing the datatype col1    int8
col2    int8
dtype: object

#### Read a CSV File. (file1.csv)

In [9]:
file1_df = pd.read_csv('file1.csv')
file1_df.head()

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

#### Read a CSV file with delimiter "|". (file2.csv)

In [10]:
file2_df = pd.read_csv('file2.csv', sep="|")
file2_df.head()

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

#### Read a CSV file with no header column and use "col1", "col2" and "col3" as column names. (file3.csv)

In [11]:
file3_df = pd.read_csv('file3.csv', header=None, names = ['col1', 'col2', 'col3'])
file3_df.head()

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

#### There are 3 columns in the file1.csv, namely "col1", "col2", and "col3". Read only "col1" and "col3".

In [12]:
file1_new_df = pd.read_csv('file1.csv', usecols=['col1', 'col3'])
file1_new_df.head()

   col1  col3
0     1     3
1     4     6
2     7     9

#### The file "file4.csv" has junk characters in the first two lines. You have to read the CSV file from the 3rd line.

In [14]:
file4_df = pd.read_csv('file4.csv', skiprows=2)
file4_df.head()

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

#### Show the datatype of all the columns in the csv file named file5.csv.

In [15]:
file5_df = pd.read_csv('file5.csv')
file5_df.dtypes

Name       object
age         int64
country    object
dtype: object

---
**[Questions](https://github.com/RahulRoy-rsp/Learn_Pandas/blob/main/Exercise-1/questions.md)**

**[Download CSV](https://github.com/RahulRoy-rsp/Learn_Pandas/blob/main/Exercise-1)**

**[Back to Home Page](https://github.com/RahulRoy-rsp/Learn_Pandas)**