### Lets first import the pandas package, make sure you have installed python if you are working on a local machine, i'm using google colab, so i just imported it

In [1]:
import pandas as pd

#### There are 6 data rows in file6.csv Read only the first 3 of them.

In [3]:
file6_df = pd.read_csv('file6.csv')

# method 1
print(file6_df.head(3))

# method 2
print(file6_df.loc[:2, :])

# method 3
print(file6_df.iloc[:3, :])

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9
   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9
   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

#### There are some blank lines in file7.csv you should skip these blank lines while reading the CSV.

In [4]:
file7_df = pd.read_csv('file7.csv', skip_blank_lines=True)

file7_df

   col1  col2  col3
0     1     2     3
1     4     5     6
2    10    11    12
3    16    17    18

#### Once you skipped the blank lines, write it to a new csv.

In [5]:
file7_df.to_csv('new_file_7.csv')

#### In file6.csv there are two columns, store it in a new csv with only "col2" and "col3".

In [6]:
new_file6_df = pd.read_csv('file6.csv', usecols=["col2", "col3"])
print(new_file6_df)

new_file6_df.to_csv('new_file_6.csv')

   col2  col3
0     2     3
1     5     6
2     8     9
3    11    12
4    14    15
5    17    18

#### Read first five rows of file8.csv

In [7]:
file8_df = pd.read_csv('file8.csv')

file8_df.head(5)

    Name  Age        City
0  Shane   42  Wellington
1  Sunil   47      Mumbai
2   Rick   43      Kansas
3  Chris   39     Jamaica
4  David   34      Sydney

#### Read last five rows of file8.csv

In [8]:
file8_df.tail()

     Name  Age       City
1   Sunil   47     Mumbai
2    Rick   43     Kansas
3   Chris   39    Jamaica
4   David   34     Sydney
5  Shahid   25  Islamabad

#### Extract the dimensions of the dataframe created using file8.csv

In [9]:
file8_df.shape

(6, 3)

#### Extract the number of rows in file8.csv

In [10]:
len(file8_df)

6

#### Extract the number of columns in file8.csv

In [11]:
file8_df.shape[1]

3

#### Extract the names of the column in file8.csv

In [12]:
file8_df.columns

Index(['Name', 'Age', 'City'], dtype='object')

---
| References |
| ---------- |
**[Questions](https://github.com/RahulRoy-rsp/Learn_Pandas/blob/main/Exercise-2/questions.md)**
**[Download CSV](https://github.com/RahulRoy-rsp/Learn_Pandas/blob/main/Exercise-2)**
---
**[Back to Home Page](https://github.com/RahulRoy-rsp/Learn_Pandas)**